@import "variables.scss";

*:focus {
    outline: none;
}

html {
    overflow-x: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "LabGrotesque";
    font-weight: normal;
    @include vw(font-size, 16px);
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    // top: 67px;
}

a,
button,
input,
textarea,
select {
    outline: none;
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

.full {
    min-height: 100%;
    height: 100%;
    position: relative;
}

.login-error {
    background-color: #ff8145;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
}

.error-list {
    background-color: #ff8145;
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: -30px;
}

.main {
    position: relative;
    // margin-top: 4rem;
}
// .main {
//     padding-top: 0 !important;
//     padding-bottom: 0;
// }
