@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
    font-family: "LabGrotesque";
    font-weight: bold;
    font-style: normal;
    src: url("/fonts/LabGrotesque-Bold.eot");
    src: url("/fonts/LabGrotesque-Bold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/LabGrotesque-Bold.woff2") format("woff2"),
        url("/fonts/LabGrotesque-Bold.woff") format("woff"),
        url("/fonts/LabGrotesque-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "LabGrotesque";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/LabGrotesque-Regular.eot");
    src: url("/fonts/LabGrotesque-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/LabGrotesque-Regular.woff2") format("woff2"),
        url("/fonts/LabGrotesque-Regular.woff") format("woff"),
        url("/fonts/LabGrotesque-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "LabGrotesque";
    font-weight: 800;
    font-style: normal;
    src: url("/fonts/LabGrotesque-Medium.eot");
    src: url("/fonts/LabGrotesque-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/LabGrotesque-Medium.woff2") format("woff2"),
        url("/fonts/LabGrotesque-Medium.woff") format("woff"),
        url("/fonts/LabGrotesque-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "LabGrotesque";
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/LabGrotesque-Light.eot");
    src: url("/fonts/LabGrotesque-Light.eot?#iefix") format("embedded-opentype"),
        url("/fonts/LabGrotesque-Light.woff2") format("woff2"),
        url("/fonts/LabGrotesque-Light.woff") format("woff"),
        url("/fonts/LabGrotesque-Light.ttf") format("truetype");
}

.h1 {
    font-weight: normal;
    color: white;
    @include vw(font-size, 120px);
    @include vw(line-height, 150px);
    @include vw(letter-spacing, 1.88px);
    @include vw(margin-bottom, 20px);
}

.h2 {
    font-weight: normal;
    @include vw(font-size, 64px);
    @include vw(line-height, 88px);
    @include vw(letter-spacing, 1px);
    @include vw(margin-bottom, 16px);
}

.h3 {
    font-weight: 300;
    @include vw(font-size, 38px);
    @include vw(line-height, 54px);
    @include vw(margin-bottom, 50px);
}

.h4 {
    font-weight: normal;
    @include vw(font-size, 24px);
    @include vw(line-height, 36px);
    @include vw(margin-bottom, 40px);
}

.h5 {
    font-weight: 800;
    @include vw(font-size, 16px);
    @include vw(line-height, 28px);
    margin-bottom: 0;
}

.h6 {
    @include vw(font-size, 14px);
    @include vw(line-height, 21px);
    @include vw(letter-spacing, 2.92px);
    @include vw(margin-bottom, 32px);
    text-transform: uppercase;
}

p {
    color: #7f888e;
    font-weight: 300;
    @include vw(font-size, 24px);
    @include vw(line-height, 36px);

    a {
        @include transition(200ms);
        color: inherit;
        text-decoration: underline;
        &:hover {
            color: inherit;
            opacity: 0.8;
            text-decoration: underline;
        }
    }
}

.fw-light {
    font-weight: 300 !important;
}

::selection {
    background: #779ba7;
}
::-moz-selection {
    background: #779ba7;
}

@include media-breakpoint-down(xl) {
    .h4 {
        font-size: 24px;
        line-height: 36px;
    }

    .h5 {
        font-size: 16px;
        line-height: 28px;
    }

    .h6 {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 2.92px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
    }
    li {
        font-size: 18px;
    }
}

@include media-breakpoint-down(lg) {
    .h1 {
        font-size: 80px;
        line-height: 90px;
        letter-spacing: 0;
    }

    .h2 {
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0;
        margin-bottom: 20px;
    }

    .h3 {
        font-size: 32px;
        line-height: 44px;
    }

    .h4 {
        font-size: 16px;
        line-height: 24px;
    }

    .h5 {
        font-size: 14px;
        line-height: 28px;
    }
    .h6 {
        font-size: 12px;
        letter-spacing: 1.5px;
        line-height: 21px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        line-height: 25px;
    }

    li {
        font-size: 16px;
    }
}

@include media-breakpoint-down(md) {
    .h1 {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 32px;
    }

    .h2 {
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 16px;
        font-weight: 300;
    }

    .h4 {
        font-size: 14px;
        line-height: 24px;
    }

    .h6 {
        font-size: 10px;
        line-height: 40px;
        letter-spacing: 1px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }

    li {
        font-size: 14px;
    }
}
