.housekeeping {
    &__products {
        .products__header {
            display: flex;
            align-items: center;

            h4 {
                margin-bottom: 0;
            }
        }
    }
}
