.heading {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

    &__intro-overlay {
        height: auto;
        width: 100%;
        z-index: 1;
    }

    &__content {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro {
        z-index: 1;
        &__title {
            line-height: 7rem;
        }
        &__note {
            color: white;
            line-height: 0rem;
        }
    }

    &__call-to-action {
        z-index: 2;
        color: white;
        font-size: 3rem;
        animation: bounce 2s infinite;
    }
}
